page-home {
    
}

.arjun-message {
    border-bottom: 1px solid #b7b7b7;
    padding: 20px;
}
.arjun-sender {
  font-size: 20px;
    font-weight: bold;
}

.arjun-text {
      margin: 20px;
    display: block;
}

.hide {
    display: none;
  }
  