page-home {
    
}

.arjun-message {
    padding: 20px;
    margin: 14px;
    border-left: 5px solid red;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.arjun-sender {
  font-size: 20px;
    font-weight: bold;
}

.arjun-text {
      margin: 20px;
    display: block;
}

.hide {
    display: none;
  }
  