page-home {
    
}

.cls1{
	position: relative;
	top: 5%;
	height: auto;
	padding-top: 2%;
	border-style: groove;
	border-width: 3px;
	border-radius: 10%;
	padding-right: 3.5%;
	padding-left: 3%;
	margin: auto;
    width: 45%;
}

.btn1{
	width:50%;

}