page-first {

}
h2 {
text-align: center;
font-style: bold;
font-size: 300%

}

h3 {
    text-align: center;
    font-style: oblique;
    font-size: 200%
    
    
}
.titleicon div{
    display:inline-block;
    margin-bottom:10px;
    }